* {
  -fx-color-palette-50: #ECEFF1;
  -fx-color-palette-100: #CFD8DC;
  -fx-color-palette-200: #B0BEC5;
  -fx-color-palette-300: #90A4AE;
  -fx-color-palette-400: #78909C;
  -fx-color-palette-500: #607D8B;
  -fx-color-palette-600: #546E7A;
  -fx-color-palette-700: #455A64;
  -fx-color-palette-800: #37474F;
  -fx-color-palette-900: #263238;
}

.rootPane {
  -fx-background-color: -fx-color-palette-900;
}

.label {
  -fx-text-fill: -fx-color-palette-100;
}

.jfx-button {
  -fx-text-fill: -fx-color-palette-100;
  -fx-background-color: -fx-color-palette-600;
}

.subHeading {
  -fx-font-weight: bold;
}

.jfx-text-field {
  -fx-text-fill: -fx-color-palette-100;
  -fx-prompt-text-fill: -fx-color-palette-500;
  -jfx-focus-color: -fx-color-palette-300;
  -jfx-unfocus-color: -fx-color-palette-500;
  -jfx-label-float: true;
  -jfx-disable-animation: false
}