#playlistUrl {
  -fx-font-size: 2em;
}

.simpleLabel {
  -fx-font-size: 1.5em;
}

.simpleButton {
  -fx-font-size: 1.5em;
}

.simpleTextField {
  -fx-font-size: 1.2em;
}

#pathLabel {
  -fx-font-family: monospace;
}

.jfx-slider .axis > Text {
  -fx-fill: -fx-color-palette-100;
  -fx-font-size: 1em;
}

#goButton {
  -fx-font-size: 2em;
}